<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		{% block titre %}Node Rates
		{% endblock %}
	</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link href="CSS/styles.css" rel="stylesheet">
	{% endblock %}

	<div class="accueil">
		<div class="node">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<image xlink:href="images/node_logo.svg" height="200" width="200"/>
			</svg>
			<br>
			<br>
			{% block title %}
				<h4>{{ title }}</h4>
			{% endblock %}

			{% block subtitle %}
				<p>{{subtitle }}</p>
			{% endblock %}
			
		</div>
		<div class="nest">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<image xlink:href="images/nest_logo.svg" height="150" width="150"/>
			</svg>
		</div>
	</div>
</head>
