{% extends 'layout.twig' %}

{% block content %}
	<div class="card-group">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Rates</h4>
				<div class="liens">
					<h5 class="lien">/api/1/rates</h5>
				</div>
				<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quae soluta maiores officia cumque amet earum numquam quidem, debitis maxime rem exercitationem ea consequatur minima repellendus esse expedita culpa sit.
				</p>
				<a href="api/{{apiversion}}/rates" class="btn btn-warning">Test Rates API</a>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Currencies</h4>
				<div class="liens">
					<h5 class="lien">/api/1/currencies</h5>
				</div>
				<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus natus soluta sint quas necessitatibus unde nisi consectetur ducimus impedit, facilis velit molestias exercitationem inventore obcaecati nesciunt, deleniti consequuntur ut. Deserunt.</p>
				<a href="api/{{apiversion}}/currencies" class="btn btn-warning">Test Currency API</a>
			</div>
		</div>
	</div>
{% endblock %}
