/* Div avec les logos sur 'home.twig' */
.accueil {
    background-color: #20332A;
    width: auto;
    height: 300px;
}

/* Logos */
.node {
    margin-left: 30px;
    margin-top: 10px;
    color: white;
}

.nest {
    margin-left: 900px; 
    margin-top: -200px;
}

/* Page entière */
.all {
    background-color: #1B4E35;
}

/* Footer */
.footer {
    text-align: center;
    color:white;
}

.annee {
    font-weight: bold;
}

/* Cards sur 'home.twig' */
.card {
    background-color:#1B4E35;
    border: none;
}

.card-text {
    color: white;
}

.card-title {
    color: white;
}


.liens {
    color: white;
    opacity: 0.5;
}

/* 'rates.twig' */
.ratesAPI {
    margin-top: 40px;
}

/* 'currencies.twig' */
.currenciesAPI {
    margin-top: 40px;
}